<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553309123222-5o0pmh81mijdmnjrchhndghk6pvek12q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553309123222-5o0pmh81mijdmnjrchhndghk6pvek12q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>553309123222-2r1gs3obd7t9sejt3ult1gi2mus16ovg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCt6rWstJ9AuJrE5jWNf8GDbu2jyTom7Do</string>
	<key>GCM_SENDER_ID</key>
	<string>553309123222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glad.bettor</string>
	<key>PROJECT_ID</key>
	<string>glad-bettor-11082</string>
	<key>STORAGE_BUCKET</key>
	<string>glad-bettor-11082.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553309123222:ios:9b43ae77bd4f24a47988b7</string>
	<key>DATABASE_URL</key>
	<string>https://glad-bettor-11082.firebaseio.com</string>
</dict>
</plist>